* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  text-align: center;
  background-color: #e3e3e3;
  color: #080808;
  padding: 10px 0;
}

.container {
  margin: 0 auto;
  width: 96%;
  max-width: 800px;
}

table {
  width: 100%;
  box-sizing: border-box;
}

.item.header {
  background-color: #0c0cb2;
  color: #f7f7f7;
}

.item.header tr {
  font-weight: bold;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  border: 1px solid #08080833;
  margin: 6px 0px;
  background-color: #e3e3e3;
}

.item td,
.item th {
  padding: 8px 2px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  border: 1px solid #08080833;
}

.item .delete {
  background-color: #b90c0c;
  color: #e3e3e3;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.item .delete:hover {
  opacity: 0.8;
}

form {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form * {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #08080833;
  padding: 2px 4px;
  font-size: 16px
}

form input[type="text"],
form input[type="number"] {
  outline: none;
  background-color: #e3e3e3;
}

form input[type="submit"] {
  font-weight: bold;
  background-color: #0cb90c;
  color: #e3e3e3;
  font-size: 19px;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition-duration: 0.3s;
}

form input[type="submit"]:hover {
  opacity: 0.8;
}

.text {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #08080833;
}

form div {
  position: relative;
  padding: 0;
  margin: 0;
}

form div::after {
  content: "$";
  position: absolute;
  font-size: 18px;
  right: 0px;
  top: 0;
  background-color: #e3e3e3;
  border: solid #08080833;
  border-width: 1px 0 2px;
  z-index: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: calc(100% - 2px);
}

#price {
  height: 100%;
  width: 100%;
}

#pirce::-webkit-outer-spin-button,
#pirce::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

#price[type=number] {
  -moz-appearance: textfield;
}